<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-us` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if .IsHome }}is-home-root{{ else }}section-{{ .Section | default .Kind }}{{ end }}">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="{{ `js/main.js` | relURL }}" defer></script>
  </body>
</html>
